<div>
    <h3><p>Welcome to http4s!</p></h3>
    <p>
        You are running atop the blaze native backend. Use the navbar to see examples.

        Source available on <a href="https://github.com/http4s/http4s_demo">github</a>.<br/>

        Both http4s and blaze are works in progress: if you find bugs or have suggestions,
        please submit an <a href="https://github.com/http4s/http4s/issues?state=open">issue</a>.
    </p>


    <p></p><h5>Been hacking on http4s and built your own cool demo that would fit in well with this crowd?
               Send a pull request!</h5></p>
</div>